* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #fafafa;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}

.post-card {
  background-color: #ffffff;
  max-width: 600px;
  margin: auto;
  border-color: #dcdcdc;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
}

.post-author-img {
  width: 32px;
  height: 32px;
  border-radius: 32px;
}

.post-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
}

.post-card-author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-card-header-btn {
  width: 32px;
  height: 32px;
  display: flex;
  justify-items: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.media-img {
  height: 500px;
  width: 100%;
}

.action-container {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.action-container-left {
  display: flex;
  gap: 12px;
}

.content-container {
  padding: 8px;
}

.text-sm {
  font-size: 14px;
}

.font-semibold {
  font-weight: 600;
}

.comment-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 8px;
}

.comment-body {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.comment-input {
  flex: 1;
  border: none;
}


.comment-input:focus {
  outline: none;
}

.post-btn {
  color: #0095f6;
  font-weight: 600;
}