* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 32px 16px;
}
main {
  max-width: 400px;
  margin: auto;
  width: 100%;
  flex: 1;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 8px;
}

.item-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.create-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.todo-ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.action-container {
  display: flex;
  align-items: center;
  gap: 4px;
}
